<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}
    Система управления
  {% endblock title %}</title>
</head>
<body>
  {% include 'components/navbar.html' %}
  {% block body %}
  <h1><a href="{% url 'management_system:task' %}">Task</a></h1>
  <h1><a href="{% url 'management_system:evaluation' %}">Evaluation</a></h1>
  <h1><a href="{% url 'management_system:team' %}">Team</a></h1>
  <h1><a href="{% url 'management_system:meeting' %}">Meetings</a></h1>
  {% endblock body %}
 <footer>
   {% block footer %}
    {% endblock %}
 </footer>
</body>
</html>