{% extends 'index.html' %}

{% block body %}
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Дедлайн</th>
    </tr>
  </thead>
  <tbody>
  {% if tasks %}
    {% for task in tasks %}
      <tr>
        <td><a href="{% url 'management_system:task_detail' pk=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.description }}</td>
        <td>{{ task.deadline }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <p>Задач не назначено</p>
  {% endif %}
  </tbody>
</table>
{% endblock %}