{% extends 'index.html' %}

{% block body %}
<table>
  <thead>
    <tr>
      <th>Название команды</th>
      <th>Роль</th>
    </tr>
  </thead>
  <tbody>
  {% if user_teams %}
    {% for user_team in user_teams %}
      <tr>
        <td><a href="{% url 'management_system:team_detail' pk=user_team.team.id %}">{{ user_team.team }}</a></td>
        <td>{{ user_team.position }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <p>Вы не состоите в команде</p>
  {% endif %}
  </tbody>
</table>
{% endblock %}