{% extends 'base.html' %}

{% block body %}
<h3>Задачи</h3>
<table class="table">
  <thead>
    <tr style="width: 300px;">
      <th>Название</th>
      <th>Описание</th>
      <th>Дедлайн</th>
    </tr>
  </thead>
  <tbody>
  {% if tasks %}
    {% for task in tasks %}
      <tr class="formset_row" style="width: 300px;">
        <td><a href="{% url 'management_system:task_detail' pk=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.description }}</td>
        <td>{{ task.deadline }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <p>Задач не назначено</p>
  {% endif %}
  </tbody>
</table>
<br><br>
  {% if user.role != "worker" %}
    <button class="btn btn-primary" id="taskCreate">
      <a href="{% url 'management_system:task_create'%}" style="color:white;">Создать задачу</a>
    </button>
  {% endif %}
{% endblock %}