{% extends 'base.html' %}

{% block body %}
<h3>Встречи</h3>
<table class="table">
  <thead>
    <tr style="width: 300px;">
      <th>Название встречи</th>
      <th>Дата</th>
      <th>Время</th>
    </tr>
  </thead>
  <tbody>
  {% if meetings %}
    {% for meeting in meetings %}
      <tr class="formset_row" style="width: 300px;">
        <td><a href="{% url 'management_system:meeting_detail' pk=meeting.id %}">{{ meeting.name }}</a></td>
        <td>{{ meeting.day }}</td>
        <td>{{ meeting.time }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <p>У вас нет назначенных встреч</p>
  {% endif %}
  </tbody>
</table>
 <button class="btn btn-primary" id="meetingCreate">
    <a href="{% url 'management_system:meeting_create'%}" style="color:white;">Создать встречу</a>
  </button>
{% endblock %}