{% extends 'base.html' %}

{% block body %}
<h3>Команды</h3>
<table class="table">
  <thead>
    <tr style="width: 300px;">
      <th>Название команды</th>
      <th>Роль</th>
    </tr>
  </thead>
  <tbody>
  {% if user_teams %}
    {% for user_team in user_teams %}
      <tr class="formset_row" style="width: 300px;">
        <td><a href="{% url 'management_system:team_detail' pk=user_team.team.id %}">{{ user_team.team }}</a></td>
        <td>{{ user_team.position }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <p>Вы не состоите в команде</p>
  {% endif %}
  </tbody>
</table>
<br><br>
  <button class="btn btn-primary" id="teamCreate">
    <a href="{% url 'management_system:team_create'%}" style="color:white;">Создать команду</a>
  </button>
{% endblock %}